<%= form_for(@dish_type) do |f| %>
  <% if @dish_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish_type.errors.count, 'error') %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
